.feedbtn {
    display: block;
    margin: 0;
    padding: 12px 25px 11px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: #AD1FEA;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #F2F4FE;
}
.black {
    background: #3A4374;
}
.red{
    background: #D73737;
}
.blue {
    background: #4661E6;
}